<section ng-controller="SearchController">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input type="text" class="form-control" ng-model="searchText" placeholder="Suche deine Haltestelle..." aria-describedby="basic-addon1">
  </div>
  <table class="table" id="searchTextResults">
    <tr ng-show="searchText" ng-repeat="station in stations | filter:searchText" >
      <td><a href="#!stations/{{station.id}}" data-ignore="true"> {{station.stop}} <span ng-show="station.plattform"> - </span> {{station.plattform}}</a></td>
    </tr>
    </table>
</section>
